@import "_dropdown";
@import '_input-fields';
@import '_radio-buttons';
@import '_checkboxes';
@import '_file-input';
@import '_select';


// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}

label {
  font-size: $label-font-size;
  color: $input-border-color;
}

